<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- Main MAB Extensions Menu -->
                <resource id="Mab_Core::mab_menu" title="MAB Extensions" translate="title" sortOrder="80">
                    <resource id="Mab_Core::core_menu" title="Core Settings" translate="title" sortOrder="10"/>
                    <resource id="Mab_DeliveryOptions::delivery_menu" title="Delivery Options" translate="title" sortOrder="20"/>
                    <resource id="Mab_CheckoutCustomization::checkout_menu" title="Checkout Customization" translate="title" sortOrder="25"/>
                    <resource id="Mab_AdminLocale::locale_menu" title="Admin Locale Control" translate="title" sortOrder="27"/>
                    <resource id="Mab_SourceSelector::source_menu" title="Source Selector" translate="title" sortOrder="28"/>
                    <resource id="Mab_Core::shipping_config" title="Shipping Methods" translate="title" sortOrder="30"/>
                    <resource id="Mab_SocialLogin::social_menu" title="Social Login" translate="title" sortOrder="60"/>
                    <resource id="Mab_VisualEffects::visual_effects_menu" title="Visual Effects" translate="title" sortOrder="100"/>
                    <resource id="Mab_License::license_menu" title="License Management" translate="title" sortOrder="110"/>
                </resource>
                
                <!-- System Configuration Access -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mab_Core::core_config" title="MAB Core Settings" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
