<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mab_social_login>
            <general>
                <enabled>0</enabled>
            </general>
            <providers>
                <google_enabled>0</google_enabled>
                <facebook_enabled>0</facebook_enabled>
            </providers>
            <firebase>
                <config></config>
            </firebase>
        </mab_social_login>
    </default>
</config>
