<?xml version="1.0"?>
<!--
/**
 * Checkout Customization DI Configuration
 * Plugins for checkout field customization
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- Plugin to remove fax from checkout configuration -->
    <type name="Magento\Checkout\Block\Checkout\LayoutMerger">
        <plugin name="mab_checkout_remove_fax_field"
                type="Mab\CheckoutCustomization\Plugin\Checkout\RemoveFaxField"
                sortOrder="10"/>
    </type>
    
</config>
