<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mab_Core::mab_menu">
                    <resource id="Mab_AdminLocale::locale" title="Admin Locale Control" translate="title" sortOrder="50">
                        <resource id="Mab_AdminLocale::config" title="Locale Configuration" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
                
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mab_AdminLocale::locale_config" title="MAB Locale Settings" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
