<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mab_Core::mab_menu">
                    <resource id="Mab_SourceSelector::selector" title="Source Selector" translate="title" sortOrder="70">
                        <resource id="Mab_SourceSelector::config" title="Source Configuration" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
                
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mab_SourceSelector::source_config" title="MAB Source Selector Settings" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>