<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mab\GuestCheckout\Observer\UpdateQuoteCustomerId">
        <arguments>
            <argument name="quoteFactory" xsi:type="object">Magento\Quote\Model\QuoteFactory</argument>
            <argument name="licenseHelper" xsi:type="object">Mab\License\Helper\Data</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Session">
        <plugin name="mab_guestcheckout_customer_login_quote_update" 
                type="Mab\GuestCheckout\Plugin\CustomerLoginQuoteUpdate" 
                sortOrder="100"/>
    </type>
</config>